* {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width) {
  .App {
    width: 90vw;
  }
}

#root {
  width: 100%;
  position: relative;
  min-height: 100vh;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#root .status-container {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  left: 0px;
  right: 0px;
}

.status-container .emotion {
  font-family: 'Jua', sans-serif;
  font-size: 90px;
  color: #dadce0;
}

.status-container .error-message {
  position: absolute;
  font-family: 'Jua', sans-serif;
  font-size: 25px;
}

#root .loading-spinner {
  width: 100px;
  height: 100px;
}

.App {
  padding: 0px 20px;
}

main {
  padding-bottom: 75px;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 20px 15px;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* header .head-text {
  width: 100%;
} */

/* SELECT BOX */
.menu {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px;
}

.menu .control-menu {
  border: none;
  border-radius: 5px;
  padding: 10px 23px;
  font-size: 18px;
  background-color: #ececec;
  cursor: pointer;
  outline: none;
}

/* DUST ITEM */
.dust-item {
  position: relative;
  color: white;
  border-radius: 10px;
  margin: 30px 20px;
  padding: 10px 10px;
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
  min-height: 150px;
}

.dust-item .card-title {
  display: flex;
  align-items: flex-end;
}

.dust-item .material-icons {
  position: absolute;
  font-size: 30px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.dust-item .card-title .h2 {
  font-size: 25px;
  padding-right: 5px;
}

.dust-item .card-title .h3 {
  font-size: 18px;
}

.pm10-grade-container {
  margin: 23px auto;
}

.dust-item .pm10-grade {
  padding: 5px 10px;
  border-radius: 8px;
  background-color: white;
  font-size: 40px;
}

.content-container {
  margin-top: 20px;
}

.content-container > p {
  margin: 0;
}

.dust-item-color-0 {
  background-color: #8f8f8f;
}

.pm10-grade-content-0 {
  color: #8f8f8f;
}

.dust-item-color-1 {
  background-color: #32a1ff;
}

.pm10-grade-content-1 {
  color: #32a1ff;
}
.dust-item-color-2 {
  background-color: #00c73c;
}

.pm10-grade-content-2 {
  color: #00c73c;
}
.dust-item-color-3 {
  background-color: #ffc323;
}

.pm10-grade-content-3 {
  color: #ffc323;
}
.dust-item-color-4 {
  background-color: #fd9b5a;
}

.pm10-grade-content-4 {
  color: #fd9b5a;
}
.dust-item-color-5 {
  background-color: #ff5959;
}

.pm10-grade-content-5 {
  color: #ff5959;
}

/* FOOTER TAB */
.footer-container {
  border-top: 1px solid #d3d3d3;
  display: flex;
  justify-content: space-around;
  position: fixed;
  right: 0px;
  left: 0px;
  width: auto;
  bottom: -0.5px;
  height: 75px;
  background: #f0f0f0;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-item {
  cursor: pointer;
  flex-basis: 100em;
  text-decoration: none;
  color: #5f656d;
}

.material-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.context {
  font-size: 14px;
  text-align: center;
  text-wrap: balance;
}

/* MY REGION */
.region-title-container {
  font-family: 'Jua', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.region-title-container .material-icons {
  font-size: 30px;
  margin-right: 10px;
}

.region-title {
  font-size: 35px;
  font-weight: bold;
}

.region-description-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.region-description {
  max-width: 50%;
  text-align: center;
  text-wrap: balance;
}

.region-pm10-grade-image {
  display: flex;
  justify-content: center;
  height: 20em;
  overflow: hidden;
}

.region-pm10-grade-image img {
  max-width: 100%; /* 이미지의 너비가 부모 요소를 넘지 않도록 설정 */
}

.region-container {
  text-align: center;
}

.region-pm10-info-container {
  font-family: 'Jua', sans-serif;
}

.region-pm10-value {
  font-size: 33px;
  font-weight: bold;
}

.region-pm10-grade {
  font-size: 22px;
  font-weight: bold;
}

.region-address-time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.region-address {
  font-size: 18px;
}

.region-time {
  font-size: 18px;
}
