:root {
  --color-white: #fff;
  --color-grey: #f3f0f0;
  --color-bg: #dfdfdf;
  --color-darkgray: #6b6b6b;
  --color-text: #030205;
  --color-grade0: #8f8f8f;
  --color-grade1: #32a1ff;
  --color-grade2: #00c73c;
  --color-grade3: #fd9b5a;
  --color-grade4: #ff5959;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0px;
}

#root {
  background-color: var(--color-white);
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  margin-bottom: 70px;
}

.status-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 150px;
}

.status-container .emotion {
  font-family: 'Jua', sans-serif;
  font-size: 5rem;
  color: var(--color-bg);
}

.status-container .message {
  position: absolute;
  bottom: 0;
  font-family: 'Jua', sans-serif;
  font-size: 2rem;
  white-space: normal;
  word-break: break-all;
}

#root .loading-spinner {
  height: 100px;
}

/* HEADER */
.header-container {
  background-image: url('./asset/brand.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 20px 15px;
  border-bottom: 1px solid var(--color-bg);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* SELECT BOX */
.menu {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px;
}

.menu .control-menu {
  border: none;
  border-radius: 5px;
  padding: 10px 23px;
  font-size: 18px;
  background-color: var(--color-grey);
  cursor: pointer;
  outline: none;
}

/* DUST ITEM */
.dust-item {
  position: relative;
  color: var(--color-white);
  border-radius: 10px;
  margin: 30px 20px;
  padding: 10px 10px;
  text-align: center;
  min-height: 150px;
}

.dust-item .card-title {
  display: flex;
  align-items: flex-end;
}

.dust-item .material-icons {
  position: absolute;
  font-size: 30px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.dust-item .card-title .h2 {
  font-size: 25px;
  padding-right: 5px;
}

.dust-item .card-title .h3 {
  font-size: 18px;
}

.pm10-grade-container {
  margin: 23px auto;
}

.dust-item .pm10-grade {
  padding: 5px 10px;
  border-radius: 8px;
  background-color: var(--color-white);
  font-size: 40px;
}

.content-container {
  margin-top: 20px;
}

.content-container > p {
  margin: 0;
}

.dust-item-color-0 {
  background-color: var(--color-grade0);
}

.pm10-grade-content-0 {
  color: var(--color-grade0);
}

.dust-item-color-1 {
  background-color: var(--color-grade1);
}

.pm10-grade-content-1 {
  color: var(--color-grade1);
}
.dust-item-color-2 {
  background-color: var(--color-grade2);
}

.pm10-grade-content-2 {
  color: var(--color-grade2);
}
.dust-item-color-3 {
  background-color: var(--color-grade3);
}

.pm10-grade-content-3 {
  color: var(--color-grade3);
}
.dust-item-color-4 {
  background-color: var(--color-grade4);
}

.pm10-grade-content-4 {
  color: var(--color-grade4);
}

/* MY neighborhoods */
.neighborhoods-title-container {
  font-family: 'Jua', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.neighborhoods-title-container .material-icons {
  font-size: 30px;
  margin-right: 10px;
}

.neighborhoods-title {
  font-size: 35px;
  font-weight: bold;
}

.neighborhoods-dataTime {
  font-size: 14px;
  color: var(--color-darkgray);
}

.neighborhoods-description-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.neighborhoods-description {
  max-width: 50%;
  text-align: center;
  text-wrap: balance;
}

.neighborhoods-pm10-grade-image {
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}

.neighborhoods-pm10-grade-image img {
  height: 16em;
}

.neighborhoods-container {
  text-align: center;
}

.neighborhoods-pm10-info-container {
  font-family: 'Jua', sans-serif;
}

.neighborhoods-pm10-value {
  font-size: 33px;
  font-weight: bold;
}

.neighborhoods-pm10-grade {
  font-size: 22px;
  font-weight: bold;
}

.neighborhoods-address-time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.neighborhoods-address {
  font-size: 18px;
}

.neighborhoods-time {
  font-size: 18px;
}

/* FOOTER TAB */
.footer-container {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid var(--color-bg);
  display: flex;
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0;
  height: 85px;
  background: var(--color-grey);
}

.footer-item {
  cursor: pointer;
  height: 100%;
  flex-basis: 100em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-darkgray);
  font-size: 18px;
}

.material-icons {
  margin-bottom: 5px;
}

.context {
  font-family: 'Jua', sans-serif;
}

@media (min-width: 768px) {
  body {
    background-color: var(--color-bg);
  }

  #root {
    width: 50%;
  }

  .footer-container {
    width: 50%;
  }
}
